body {
  background: #8e2de2; 
  background: -webkit-linear-gradient(to right, #8e2de2, #4a00e0);  
  background: linear-gradient(to right, #8e2de2, #4a00e0);
}

h1 {
  font-family: Arial, sans-serif;
  font-size: 30px;
}

.details {
  font-size: 22px;
}

a, li {
  color: black;
  text-decoration: none;
  font-size: 20px;
}

nav {
  display: flex;
  gap: 5px;
  padding: 10px;
  justify-content: center;
  flex-wrap: wrap;
}

nav a {
  text-decoration: none;
  color: #1a1a1a;
  font-weight: bold;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

nav a:hover {
  background: #a18cd1; 
  background: -webkit-linear-gradient(to right, #a18cd1, #fbc2eb); 
  background: linear-gradient(to right, #a18cd1, #fbc2eb);
}

p {
  font-family: Georgia;
  font-size: 20px;
}

hr {
  border: none;
  height: 1px;
  background-color: black;
  margin: 2em 0;
}

button {
  border-radius: 250px;
  border: 2px solid black; 
  margin: 5px;
  padding: 10px;
  background: #7b2ff7;  
  background: -webkit-linear-gradient(to right, #7b2ff7, #f107a3);  
  background: linear-gradient(to right, #7b2ff7, #f107a3);
}

img {
  display: inline-block;
  width: 400px;
  height: 250px;
  max-width: 420px;
  margin-right: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.icon {
  float: right;
  margin-right: 1rem;
  cursor: pointer;
  margin-top: -120px;
}

i {
    font-size: 25px;
}

.menu {
    display: none;
}

@media (max-width: 600px) {
  img {
    width: 270px;
    height: auto;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
