/* h1 {
    padding: 20px;
    text-align: center;
    display: block;
}  */

h3 {
    /* max-width: 500px;          */
    /* margin: 0 auto; */
    /* text-align: center;       */
}

/* nav {
    font-size: 25px;
    float: right;
    margin-top: -75px;
}  */

/* #ml-projects {
    text-align: left;
    font-size: 25px;
}   */