h1 {
    text-align: center;
    background-color: #3A7CA5;
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}



#rtdg, #ass, #dbpro, #disclone {
    /* text-align: center;
    padding: 20px; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;*/
    font-size: 20px;
}

#ml-projects, ul, li {
    font-size: 20px;
}

p {
    font-size: 20px;
}

button {
    font-size: 20px; 
    background-color: crimson;
    border: black;
    padding: 10px;
    border-radius: 25px;
    text-align: center;
    display: block;
    margin: auto;
    text-decoration: none;
}

a {
    text-decoration: none;
}