#welcome {
    text-align: center;
    background-color: aqua;
    padding: 10px;
    /* margin: 10px; */
}


#intro {
    text-align: center;
}


#about {
    text-align: center;
}



@media (max-width: 600px) {
    .cotainer {
        flex-direction: column;
    }
}

@media (min-width: 601px) and (max-width: 900px) {
    .cotainer {
        flex-direction: row;
    }
}


@media (min-width: 901px) {
    .cotainer {
        justify-content: space-around;
    }
}


body {
    font-size: 1rem;
}


img {
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}



footer {
    position: block;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: orange;
    /* font-size: 30px; */
    text-align: center;
}

/* 
img, video {
    max-width: 100%;
    height: auto;
} */

